.boyteam{
    width: 100%;
    background-color: #ffdeaa;
    display: flex;
    justify-content: center;
}

.boyteam-container{
    height: 1000px;
    background-color: #ffdeaa;
    display: block;
    width: 100%;
    max-width: 1700px; 
}