.girlteam{
    width: 100%;
    background-color: #ffdeaa;
    display: flex;
    justify-content: center;
    padding: 0;
}

.girlteam-container{
    height: 1000px;
    background-color: #ffdeaa;
    display: flex;
    width: 100%;
    max-width: 1700px; 
    justify-content: center;
}
.roster-container{
    background-color: #ffdeaa;
    width: 1000px;
    height: 700px;
    justify-content: center;
    padding-top: 100px;
}
iframe{
    width: 990px;
    height: 625px;
    border: none;
}