.captains{
    width: 100%;
    background-color: #ffdeaa;
    display: flex;
    justify-content: center;
}

.captain-container{
    height: 600px;
    background-color: #ffdeaa;
    display: block;
    width: 100%;
    max-width: 1700px; 
}
.captain-container h1{
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
}


.team-captains{
    padding-top: 60px;
    background-color: #ffdeaa;
    font-size: 100px;
    font-family: poppins;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.captain{
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
.captain h2{
    font-size: 40px;
    font-family: poppins;
}

.coaches{
    width: 100%;
    background-color: #fcd493;
    display: flex;
    justify-content: center;
}

.coaches-container{
    height: 1050px;
    background-color: #fcd493;
    display: block;
    width: 100%;
    max-width: 1700px; 
    justify-content: center;
}

.coaches-container h1{
    font-size: 60px;
    margin-top: 40px;
    text-align: center;
}

.coach-R{
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-top: 60px;
}

.coach-R img{
    margin-right: 100px;
}

.coach-content{
    background: #fedaa1;
    width: 600px;
    height: 300px;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px rgba(255,255,255,0.95);

}
.coach-content h2{
    font-size: 50px;
    font-family: Poppins;
    margin-left: 50px;
    margin-top: 30px;
}

.coach-content p{
    font-size: 20px;
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 10px;
    font-family: poppins;
}

.coach-content hr{
    width: 75%;
    margin-left: 50px;
    margin-top: 30px;
    background-color: black;
    border: black
}


.coach-josh{
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-top: 60px;

}


.coach-josh img{
    margin-left: 100px;
}


@media screen and (max-width: 600px){
    .captains{
        display: none;
    }
    .coaches{
        display: flex;
        flex-direction: column;
        height: 700px;
    }
    .coach-josh img{
        display: none;
    }
    .coach-R img{
        display: none;
    }
    .coaches-container h1{
        font-size: 50px;
    }
    .coach-content{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 150px;
        padding-left: 0px;
    }
    .coach-content h2{
        font-size: 40px;
        padding-left: 0px;
        margin-left:0px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .coach-content p{
       display: none;  
    }
    .coach-content hr{
        margin-left: 0px;
        margin-top: 10px;
    }
}