.body{
    background-color: #FFECCE;
    max-width: 100%;
    height: fit-content;
    display: flex;
    padding: 0;
    position: relative;
    text-align: center;
    z-index: 2;
    justify-content: center;
}
.core-values{
    background-color: #FFECCE;
    margin-top: 100px;
    height: 600px;
    width: 100%;
    max-width: 1700px;
}
.core-value{    
    width: 33.3%;
    float: left;
}
.core-value h2{
    padding-bottom: 20px;
    font-family: poppins;
    font-size: 3rem;
}
.core-value p{
    padding-right: 40px;
    padding-left: 40px;
    font-family: poppins;
    font-size: 1.3rem;
    line-height: 2rem;
}
