.slider{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
    z-index: 100;
    background-color: black;
    top: 60px;
    padding: 0;
    border: 0;
    margin: 0;
}

.slide{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 1700px;
    opacity: 0%;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (min-width: 600px){
    .slide img{
        width: 100%;
    }
}

.slide img{
    animation: sliding 0.2s ease-out 0.2s;
    visibility: hidden;
    animation-fill-mode: forwards;
    z-index: 999;    
}

@keyframes sliding{
    0%{
        visibility: visible;
        opacity: 0%;
    }
    100%{
        visibility: visible;
        opacity: 100%;
    }
}
.current{
    opacity: 1;
    z-index: 100;
}

.current .content{
    opacity: 1;
    z-index: 100;
}

.content{
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.75);
    animation: slide-up 0.5s ease-out 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    text-align: center;
    z-index: 100;
}

@keyframes slide-up{
    0%{
        visibility: visible;
        opacity: 0%;
        top: 50%;
    }
    100%{
        visibility: visible;
        opacity: 100%;
        top: 30%;
    }
}

.slide h2{
    font-size: 3rem;
    font-family: candara;
}

.arrow {
    border: 2px solid white;
    border-radius: 50%;
    background: transparent;
    color: white;
    width: 3rem; 
    height: 3rem;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}

.arrow:hover {
    background: white;
    color: #777;
    transition: all ease-out 0.3s;
}

.next {
    top: 40%;
    right: 1.5rem;
}

.prev {
    top: 40%;
    left: 1.5rem;
}



.content > * {
    color: white;
    margin-bottom: 1rem;
    z-index: 100;
}


hr{
    height: 4px;
    background: white;
}
