.navbar-container {
    background-color: #9DBBD8;
    display: flex;
    grid-template-columns: 2;
    align-items: center;
    height: 80px;
    max-width: 100%;
    flex-direction: row;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    margin-right: 3rem;
    margin-left: 2rem;
}


.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    justify-content: flex-start;
    font-size: 1.25rem;
    margin-right: 2rem;
}

.nav-links:hover{
    border-bottom: 4px solid white;
    transition: all 0.2s ease-out;
  }

